:root {
  /* Основные шрифты */
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  /* Фоны */
  --white-theme: #ffffff;
  --secondary-theme: #f5f4fa;
  --dark-background: #2f303a;
  /* Цвета текста */
  --main-text: #212121;
  --gray-text: #757575;
  --white-text: #ffffff;
  /* Эфект hover */
  --blue-hover: #2196f3;
  /*Фон кнопки  */
  --blue-bnt: #2196f3;
}

body {
  color: var(--white-theme);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */
/* color-text */
.nav-header {
  color: var(--main-text);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.icon {
  color: var(--blue-hover);
}

/* Navigation */
/* color-text */
.nav-link {
  color: var(--main-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link {
  color: var(--gray-text);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue-hover);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--blue-hover);
}

.nav-link:active {
  color: var(--blue-hover);
}

/* Hero */
/* color-text */
.hero {
  background-color: var(--dark-background);
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--dark-background);
  text-transform: uppercase;
}

.hero-btn {
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-family: inherit;

  background: var(--blue-bnt);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* section Content */
/* color-text */
.content-subtitle {
  color: var(--main-text);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.content-text {
  color: var(--gray-text);
  line-height: 1.71;
}

/* section image-works */
/* color-text */
.main-title {
  color: var(--main-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* section team */
/* color-text */
.team {
  background-color: var(--secondary-theme);
}

.title-avatar {
  color: var(--main-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 1.18;
}

/* footer */
/* color-text */
.footer {
  background-color: var(--dark-background);
}

.footer-link {
  color: var(--white-text);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.map {
  color: var(--white-text);
  line-height: 1.71;
  font-style: normal;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--blue-hover);
}

/* ПОРТФОЛИО */
/* color-text */
.dropdown {
  color: var(--main-text);
  cursor: pointer;
  background-color: var(--secondary-theme);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  font-family: inherit;
}

.dropdown:hover,
.dropdown:focus {
  color: var(--white-text);
  background-color: var(--blue-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* gallery foto */
/* color-text */
.gallery-title {
  color: var(--main-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-description {
  color: var(--gray-text);
  font-size: 16px;
  line-height: 1.87;
}
