:root {
  --brand-color: #212121;
  --background-color: #ffffff;
}

.page {
  color: var(--background-color);
  color: var(--brand-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

/* site-nav */

.logo {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}

.logo span {
  color: #2196f3;
}

.site-nav .link {
  color: var(--brand-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
}

.site-nav :hover,
.site-nav :focus {
  color: #2196f3;
}

/* registration */

.registration a {
  color: #757575;
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
}

.registration a:hover,
.registration a:focus {
  color: #2196f3;
}

/* hero */

.hero {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  box-sizing: border-box;
  width: 1600px;
  height: 600px;
  padding-top: 80px;
  padding-left: 0px;
  background-color: #2f303a;
}

/* button */

.push {
  line-height: 1.9;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  background: #2196f3;
  color: #ffffff;
  padding: 8px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* секция преимуществ */

.section-list {
  color: var(--brand-color);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 700;
}

.description {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

/* чем мы занимаемся */

/* наша команда */

.name {
  color: var(--brand-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.position {
  color: #757575;
  font-size: 16px;
  line-height: 1.2;
}

/* подвал */

.conect {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
}

/* цвет основного текста #212121;*/
/* белый цвет #FFFFFF */
/* цвет фона не в акценте #F5F4FA */
/* акцент синий #2196F3 */
/* цвет текста описание #757575 */ ;
